{% extends 'shared/_site.html' %}

{% load static %}

{% block body %}
<section id="page-content rtl" class="rtl">
    <div class="container">
        <div class="page-title">
            <h1>تحلیل بورس</h1>
            <br />
        </div>
        <div id="blog" class="grid-layout post-3-columns m-b-30 rtl" data-item="post-item">
            {% for post in posts %}
                <div class="post-item">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="{% url 'analyze:post' slug=post.slug %}">
                                <img alt="{{ post.title }}" src="{{ post.picture.url }}">
                            </a>
                            <span class="post-meta-category"><a href="">{{ post.category }}</a></span>
                        </div>
                        <div class="post-item-description">
                            <h2><a href="{% url 'analyze:post' slug=post.slug %}">{{ post.title }}</a></h2>
                            <p class="rtl">{{ post.summary|safe }}</p>
                            <a href="{% url 'analyze:post' slug=post.slug %}" class="item-link">بیشتر بدانید<i class="icon-chevron-left"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</section>
{% endblock %}