{% load static %}
<section class="p-t-150 background-image" style="background-image:url({% static 'site/images/parallax/1.jpg' %});">
    <div class="container">

        <div class="row">
            <!-- <div class="col-lg-5"></div> -->
            <div class="col-lg-7" data-animate="fadeIn">
                <h2 class="text-medium">HELLO, WE ARE POLO</h2>
                <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida
                    tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat
                    quis.
                    <br>
                    <br>Facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi
                    sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                    Nulla varius.</p>
                <a href="#" class="btn btn-outline btn-dark"><span>More About US</span></a>
            </div>
        </div>
    </div>
</section>
<!-- end: -->

<!-- ABOUT -->
<section class="p-b-150 background-image" style="background-image:url({% static 'site/images/parallax/2.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6" data-animate="fadeIn">
                <h3 class="text-medium m-b-5">OUR TIMELINE</h3>
                <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida
                    tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat
                    quis.
                </p>
                <hr class="space">
                <div class="row">
                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-code"></i></div>
                            <div class="counter small"> <span data-speed="3000" data-refresh-interval="50"
                                    data-to="12416" data-from="600" data-seperator="true"></span> </div>

                            <p>LINES OF CODE</p>
                        </div>
                    </div>

                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-coffee"></i></div>
                            <div class="counter small"> <span data-speed="4500" data-refresh-interval="23" data-to="365"
                                    data-from="100" data-seperator="true"></span> </div>

                            <p>CUPS OF COFFEE</p>
                        </div>
                    </div>

                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-rocket"></i></div>
                            <div class="counter small"> <span data-speed="3000" data-refresh-interval="12" data-to="114"
                                    data-from="50" data-seperator="true"></span> </div>

                            <p>PROJECTS</p>
                        </div>
                    </div>

                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-smile-o"></i></div>
                            <div class="counter small"> <span data-speed="4550" data-refresh-interval="50"
                                    data-to="14825" data-from="48" data-seperator="true"></span> </div>

                            <p>HAPPY CLIENTS</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>