{% load static %}
<!-- REVOLUTION SLIDER -->
<div id="slider">
    
    <div id="rev_slider_21_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="Polo Design Studio"
        style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.1 fullscreen mode -->
        <div id="rev_slider_21_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1">
            <ul>
                <!-- SLIDE  --> 
                <li data-index="rs-98" data-transition="fade" data-slotamount="default" data-easein="default"
                    data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'assets/site/images/slider/ambient-brown.jpg' %}" alt="" width="1680" height="1050"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2"
                        class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-2"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','-4','-2']"
                        data-y="['top','top','top','top']" data-voffset="['637','637','700','586']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1520;e:Power4.easeInOut;"
                        data-transform_out="opacity:0;s:230;s:230;" data-start="500" data-responsive_offset="on"
                        style="z-index: 5;"><img src="{% static 'assets/site/images/slider/table.png' %}" alt=""
                            width="1300" height="297" data-ww="['1300px','1300px','1300px','1300px']"
                            data-hh="['297px','297px','297px','297px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-11"
                        data-x="['center','center','center','center']" data-hoffset="['338','338','313','396']"
                        data-y="['top','top','top','top']" data-voffset="['621','621','691','572']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;"
                        data-start="3870" data-responsive_offset="on" style="z-index: 6;"><img
                            src="{% static 'assets/site/images/slider/headphone_2.png' %}" alt="" width="150" height="70"
                            data-ww="['139px','139px','139px','139px']" data-hh="['65px','65px','65px','65px']"
                            data-no-retina>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-4"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']"
                        data-y="['top','top','top','top']" data-voffset="['350','350','402','302']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2100;e:Power2.easeOut;"
                        data-transform_out="opacity:0;s:1.875;s:1.875;" data-start="1471.875"
                        data-responsive_offset="on" style="z-index: 7;"><img
                            src="{% static 'assets/site/images/slider/apple_monitor_1.png' %}" alt="" width="502"
                            height="384" data-ww="['411px','411px','411px','411px']"
                            data-hh="['315px','315px','315px','315px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-6"
                        data-x="['center','center','center','center']" data-hoffset="['-5','-5','-16','-16']"
                        data-y="['top','top','top','top']" data-voffset="['671','671','726','726']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;"
                        data-start="2990" data-responsive_offset="on" style="z-index: 8;"><img
                            src="{% static 'assets/site/images/slider/keyboard_apple_1-220x23.png' %}" alt="" width="220"
                            height="23" data-ww="['220px','220px','220px','220px']"
                            data-hh="['23px','23px','23px','23px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-14"
                        data-x="['left','left','left','left']" data-hoffset="['432','324','202','57']"
                        data-y="['top','top','top','top']" data-voffset="['366','365','416','319']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                        data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;" data-start="3870"
                        data-responsive_offset="on" style="z-index: 9;"><img
                            src="{% static 'assets/site/images/slider/screen.jpg' %}" alt="" width="1663" height="892"
                            data-ww="['378px','378px','378px','378px']" data-hh="['214px','214px','214px','214px']"
                            data-no-retina>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-7"
                        data-x="['center','center','center','center']" data-hoffset="['-397','-397','-273','-201']"
                        data-y="['top','top','top','top']" data-voffset="['603','603','675','552']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;"
                        data-start="3200" data-responsive_offset="on" style="z-index: 10;"><img
                            src="{% static 'assets/site/images/main/slider/camera.png' %}" alt="" width="129"
                            height="105" data-ww="['113px','113px','113px','113px']"
                            data-hh="['92px','92px','92px','92px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-9"
                        data-x="['center','center','center','center']" data-hoffset="['-264','-264','-187','-123']"
                        data-y="['top','top','top','top']" data-voffset="['625','625','680','586']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;"
                        data-start="3600" data-responsive_offset="on" style="z-index: 11;"><img
                            src="{% static 'assets/site/images/slider/mug_1.png' %}" alt="" width="87" height="75"
                            data-ww="['71px','71px','71px','71px']" data-hh="['62px','62px','62px','62px']"
                            data-no-retina>
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-10"
                        data-x="['center','center','center','center']" data-hoffset="['199','199','174','118']"
                        data-y="['top','top','top','top']" data-voffset="['656','656','715','606']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;"
                        data-start="3330" data-responsive_offset="on" style="z-index: 12;"><img
                            src="{% static 'assets/site/images/slider/mouse_apple_1.png' %}" alt="" width="76" height="44"
                            data-ww="['63px','63px','63px','63px']" data-hh="['37px','37px','37px','37px']"
                            data-no-retina>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-98-layer-12"
                        data-x="['center','center','center','center']" data-hoffset="['379','379','303','172']"
                        data-y="['top','top','top','top']" data-voffset="['-21','-21','-17','-2']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:top;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;"
                        data-start="2430" data-responsive_offset="on" style="z-index: 13;"><img
                            src="{% static 'assets/site/images/main/slider/lamp-01.png' %}" alt="" width="220"
                            height="504" data-ww="['133px','133px','133px','133px']"
                            data-hh="['434px','434px','434px','434px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-13"
                        data-x="['center','center','center','center']" data-hoffset="['-524','-431','-323','-480']"
                        data-y="['top','top','top','top']" data-voffset="['121','128','195','115']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="opacity:0;s:2000;e:Power2.easeOut;"
                        data-transform_out="opacity:0;s:290;s:290;" data-start="670" data-responsive_offset="on"
                        style="z-index: 14;"><img
                            src="{% static 'assets/site/images/main/slider/board-02.png' %}" alt=""
                            width="220" height="230" data-ww="['220px','220px','176','220px']"
                            data-hh="['230px','230px','184','230px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-98-layer-15"
                        data-x="['center','center','center','center']" data-hoffset="['-572','-572','-416','-416']"
                        data-y="['top','top','top','top']" data-voffset="['621','621','654','654']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="opacity:0;s:140;s:140;" data-start="3420" data-responsive_offset="on"
                        style="z-index: 15;"><img src="{% static 'assets/site/images/slider/chair_2-220x187.png' %}" alt=""
                            width="460" height="392" data-ww="['400px','400px','400px','400px']"
                            data-hh="['341px','341px','341px','341px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-98-layer-19"
                        data-x="['right','right','right','right']" data-hoffset="['-339','-339','-334','-334']"
                        data-y="['top','top','top','top']" data-voffset="['201','201','502','502']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="opacity:0;s:290;s:290;" data-start="3870" data-responsive_offset="on"
                        style="z-index: 16;"><img src="{% static 'assets/site/images/slider/plant1.png' %}" alt=""
                            width="700" height="844" data-ww="['700px','700px','700px','700px']"
                            data-hh="['844px','844px','844px','844px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 13 -->
                    <div class="tp-caption medium_light_black   tp-resizeme rs-parallaxlevel-1" id="slide-98-layer-20"
                        data-x="['center','center','center','center']" data-hoffset="['9','9','10','0']"
                        data-y="['top','top','top','top']" data-voffset="['83','83','42','82']"
                        data-fontsize="['80','80','66','50']" data-lineheight="['78','78','78','50']"
                        data-width="['637','637','637','465']" data-height="['186','186','186','190']"
                        data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-start="3870" data-splitin="chars" data-splitout="none" data-responsive_offset="on"
                        data-elementdelay="0.05"
                        style="z-index: 17; min-width: 637px; max-width: 637px; max-width: 186px; max-width: 186px; white-space: normal; font-size: 80px; line-height: 78px; font-weight: 100; color: rgba(0, 0, 0, 1.00);text-align:center;padding:0px 0px 0px 0px;border-color:rgba(255, 214, 88, 1.00);">
                        Smart Bourse
                    </div>

                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</div>
<!-- END REVOLUTION SLIDER -->