<!--Navigation Resposnive Trigger-->
<div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
<!--end: Navigation Resposnive Trigger-->
<!--Navigation-->
<div id="mainMenu">
    <div class="container">
        <nav>
            <ul>
                <!-- <li><a style="font-size: 22px;" href="#">تحرکات بازار</a></li>
                <li><a style="font-size: 22px;" href="#">عرضه اولیه</a></li>
                <li><a style="font-size: 22px;" href="#">مشاوره برای شروع</a></li>
                <li><a style="font-size: 22px;" href="#">الگوریتم و هوش ماشین</a></li> -->
                <li><a style="font-size: 22px;" href="{% url 'pages:home' %}">خانه</a></li>
                <li><a style="font-size: 22px;" href="{% url 'shop:posts' %}">آکادمی</a></li>
                <li><a style="font-size: 22px;" href="{% url 'analyze:posts' %}">مقالات</a></li>
                <li><a style="font-size: 22px;" href="{% url 'news:posts' %}">اخبار</a></li>
                <li><a style="font-size: 22px;" href="{% url 'pages:open-account' %}">افتتاح حساب آنلاین</a></li>
                <li><a style="font-size: 22px;" href="{% url 'pages:contact' %}">تماس با ما</a></li>
                <li><a style="font-size: 22px;" href="{% url 'login' %}">ورود/عضویت</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--end: Navigation-->