{% load static %}
<section id="section-portfolio" class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 center text-center m-b-60">
                <h2>اخبار</h2>
            </div>
        </div>

        <nav class="grid-filter gf-outline" data-layout="#portfolio">
            <ul>
                {% for category in news_categories %}
                    {% if forloop.first %}
                        <li class="active"><a href="#" data-category="*">نمایش همه</a></li>
                        <li><a href="#" data-category=".{{ category.slug }}">{{ category.title }}</a></li>
                        {% else %}
                        <li><a href="#" data-category=".{{ category.slug }}">{{ category.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- <div class="grid-active-title">Show All</div> -->
        </nav>


        <div id="portfolio" class="grid-layout portfolio-3-columns rtl" data-margin="20">
            {% for post in news_posts %}
                <div class="portfolio-item grey-bg no-overlay {{ post.category.slug }}">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="{% url 'news:post' slug=post.slug %}"><img src="{{ post.picture.url }}" alt="{{ post.title }}"></a>
                        </div>
                        <div class="portfolio-description" style="height: 200px;">
                            <a href="{% url 'news:post' slug=post.slug %}">
                                <h3>{{ post.title }}</h3>
                                <p style="font-family: ravi-light;">{{ post.summary | safe }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>