 {% load static %}
 <section class="p-t-150 p-b-150"
     data-bg-parallax="{% static 'assets/site/images/homepages/minimal/images/parallax/1.jpg' %}">
     <div class="container">
         <div data-animate-delay="100" data-animate="fadeInUp">
             <div class="heading-text heading-section text-center">
                 <h1 class="text-medium">تکنوفاند</h1>
             </div>
         </div>
         <div id="blog">
             <div class="container">
                 <div id="blog" class="grid-layout post-3-columns m-b-30 rtl" data-item="post-item">
                     {% for post in latest_posts %}
                        <div class="post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="{% url 'analyze:post' slug=post.slug %}">
                                        <img alt="" src="{{ post.picture.url }}">
                                    </a>
                                    <span class="post-meta-category"><a href="">{{ post.category }}</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33
                                            Comments</a></span>
                                    <h2><a href="{% url 'analyze:post' slug=post.slug %}">{{ post.title }}</a></h2>
                                    <p>{{ post.summary }}</p>
                                    <a href="{% url 'analyze:post' slug=post.slug %}" class="item-link">بیشتر بدانید <i class="fa fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                     {% endfor %}
                 </div>

             </div>
         </div>
     </div>
 </section>