<!-- WHAT WE DO -->
 <section>
     <div class="container">

         <div class="heading-text heading-section m-b-80">
             <h2>WHAT WE DO</h2>
         </div>

         <div class="row">
             <div class="col-lg-4">
                 <div class="icon-box medium fancy">
                     <div class="icon"> <a href="#"><i class="fa fa-car"></i></a> </div>
                     <h4>Powerful template</h4>
                     <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                         cursumus.</p>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="icon-box medium fancy">
                     <div class="icon"> <a href="#"><i class="fa fa-heart"></i></a> </div>
                     <h4>Flexible Layouts</h4>
                     <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                         cursumus.</p>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="icon-box medium fancy">
                     <div class="icon"> <a href="#"><i class="far fa-lightbulb"></i></a> </div>
                     <h4>Retina Ready</h4>
                     <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                         cursumus.</p>
                 </div>
             </div>

             <div class="col-lg-4">
                 <div class="icon-box medium fancy">
                     <div class="icon"> <a href="#"><i class="fa fa-phone"></i></a> </div>
                     <h4>100% Responsive Layout</h4>
                     <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                         cursumus.</p>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="icon-box medium fancy">
                     <div class="icon"> <a href="#"><i class="fa fa-code"></i></a> </div>
                     <h4>Clean Modern Code</h4>
                     <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                         cursumus.</p>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="icon-box medium fancy">
                     <div class="icon"> <a href="#"><i class="fa fa-life-ring"></i></a> </div>
                     <h4>Free Updates & Support</h4>
                     <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                         cursumus.</p>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- END WHAT WE DO -->