<div class="ajax-quick-view">
    <div class="quick-view-content">
        <div class="product">
            <div class="row">
                <div class="col-lg-5">
                    {% for place in product.pictures.all %}
                        <div class="carousel" data-items="{{ forloop.counter }}">
                            <img src="{{ place.picture.url }}" alt="{{ place.picture.url }}" />
                            <img src="{{ place.picture.url }}" alt="{{ place.picture.url }}" />
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-7">
                    <div class="product-description">
                        <div class="product-category">{{ product.category }}</div>
                        <div class="product-title">
                            <h3><a href="#">{{ product.title }}</a></h3>
                        </div>
                        <div class="product-price"><ins>{{ product.price }}</ins>
                        </div>
                        
                        <div class="seperator m-b-10"></div>
                        <p>{{ product.content|safe }}</p>
                        <div class="product-meta">
                            <p>Tags: {% for tag in product.tags.all %}<a rel="tag" href="#">{{ tag }}</a>,{% endfor %} </p>
                        </div>
                        <div class="seperator m-t-20 m-b-10"></div>
                    </div>
                    
                    <div class="m-t-20">
                        <button class="btn btn-lg" type="button"><i class="icon-shopping-cart"></i> اضافه کردن به سبد خرید</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>