{% extends 'shared/_site.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<!-- Page title -->
<section id="page-title" data-bg-parallax="images/parallax/5.jpg">
    <div class="container">
        <div class="page-title">
            <h1>تماس با ما</h1>
            <span>{{ contact.subtitle }}</span>
        </div>

    </div>
</section>
<!-- end: Page title -->
<!-- CONTENT -->
<section class="rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-uppercase">با ما در تماس باشید</h3>
                <p>{{ contact.info }}</p>
                <div class="m-t-30">
                    <form class="widget-contact-form rtl" action="{% url 'pages:contact' %}" role="form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="id_full_name">نام و نام خانوادگی</label>
                                {% render_field form.full_name placeholder="نام خود را وارد نمایید" required=required class="form-control required name" aria-required="true" %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_email">ایمیل</label>
                                {% render_field form.email placeholder="ایمیل خود را وارد نمایید" required=required class="form-control required name" aria-required="true" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="id_from_where">از چه راهی با ما آشنا شدید</label>
                                {% render_field form.from_where required=required class="form-control required name" aria-required="true" %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_subject">موضوع</label>
                                {% render_field form.subject placeholder="موضوع خود را وارد نمایید" required=required class="form-control required name" aria-required="true" %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_message">پیام خود را وارد کنید</label>
                            {% render_field form.message placeholder="موضوع خود را وارد نمایید" required=required class="form-control required name" aria-required="true" %}
                        </div>
                        <div class="row">
                            <div class="form-group center">
                                <button class="btn" type="submit" id="form-submit"><i
                                        class="fa fa-paper-plane"></i>&nbsp;ارسال پیام</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="text-uppercase">آدرس و نقشه</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <address>
                            {{ contact.address }}
                        </address>
                    </div>
                    {% if contact.address2 %}
                    <div class="col-lg-6">
                        <address>
                            {{ contact.address2 }}
                        </address>
                    </div>
                    {% endif %}
                </div>
                <!-- Google Map -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.7061727473765!2d51.40119261526098!3d35.75802608017641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQ1JzI4LjkiTiA1McKwMjQnMTIuMiJF!5e0!3m2!1sen!2s!4v1586597867521!5m2!1sen!2s"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
                <!-- end: Google Map -->
            </div>
        </div>
    </div>
</section> <!-- end: Content -->
{% endblock %}

<div data-notify="container" class="col-11 col-md-4 alert alert-danger" role="alert" data-notify-position="top-right"
    style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
        style="position: absolute; right: 10px; top: 5px; z-index: 1033;">×</button><span data-notify="icon"></span>
    <span data-notify="title"></span> <span data-notify="message">undefined</span><a href="#" target="_blank"
        data-notify="url"></a></div>