{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}
<!-- Page title -->
<section id="page-title" data-bg-parallax="{% static 'assets/site/images/main/contact-us2.jpg' %}"
    style="height: 600px;">
    <div class="container">
        <div class="page-title">
            <h2>عرضه اولیه</h2>
        </div>
    </div>
</section>

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-9">
                <div class="accordion" style="direction: rtl; text-align: right;">
                    {% for market in primarymarkets %}
                        {% if not market.archive %}
                            <div class="ac-item">
                                <h5 class="ac-title">{{ market.title }} |  {{ market.abbrivation }}</h5>
                                <div class="ac-content" style="display: none;">
                                    {{ market.content|safe }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}